apiVersion: apps/v1
kind: Deployment
metadata:
  name: fallback
  namespace: traefik
  labels:
    app: fallback

spec:
  replicas: 1
  selector:
    matchLabels:
      app: fallback
  template:
    metadata:
      labels:
        app: fallback
    spec:
      containers:
        - name: fallback
          imagePullPolicy: Always
          image: arthurdanjou/fallback
