version: "3"

services:
  meilisearch:
    container_name: meilisearch
    image: getmeili/meilisearch:latest
    restart: unless-stopped
    ports:
      - 7700:7700
    user: root
    volumes:
      - "${PWD}/data.ms:/home/meili/data.ms"
